<div class="container">
    <legend>SignUp</legend>
    <form [formGroup]="signUpForm" class="align-self-center" >
        <div class="mb-3 col-4">
          <label for="firstname" class="form-label">FirstName</label> 
          <input type="text" name="firstname" formControlName="firstName" class="form-control" id="signup_firstname" >
          <div *ngIf="submitted && signUpForm.controls.firstName?.errors?.['required']">
            <span class="error-msg">Firstname is required</span>
          </div>
          <div *ngIf="submitted && signUpForm.controls.firstName?.errors?.['minlength']">
            <span class="error-msg">Firstname should have min length of 8.</span>
          </div>
        </div>


        <div class="mb-3 col-4">
          <label class="form-label">Lastname </label>
          <input type="text" name="lastname" class="form-control" formControlName="lastName" id="signup_lastname">
          <div *ngIf="submitted && signUpForm.controls.lastName?.errors?.['required']">
            <span class="error-msg">Lastname is required.</span>
          </div>
          <div *ngIf="submitted && signUpForm.controls.lastName?.errors?.['minlength']">
            <span class="error-msg">Lastname should have min length of 10.</span>
          </div>
        </div>
        <div class="mb-3 col-4">
            <label class="form-label">Email </label>
            <input type="email" name="email" class="form-control" formControlName="email" id="signup_email">
            <div *ngIf="submitted && signUpForm.controls.email?.errors?.['required']">
              <span class="error-msg">Email is required.</span>
            </div>
            <div *ngIf="submitted && signUpForm.controls.email?.errors?.['email']">
              <span class="error-msg">Please enter valid email.</span>
            </div>
          </div>
        <div class="mb-3 col-4">
            <label for="password" class="form-label">Password</label>
            <input type="text" name="password" class="form-control" formControlName="password" id="login_password">
            <div *ngIf="submitted && signUpForm.controls.password?.errors?.['required']">
              <span class="error-msg">Password is required.</span>
            </div>
            <div *ngIf="submitted && signUpForm.controls.password?.errors?.['pattern']">
              <span class="error-msg">Password should contain upper &lower character, special character, number.</span>
            </div>
        </div>
        <div class="mb-3 col-4">
          <label for="confirmpassword" class="form-label">Confirm Password</label>
          <input type="text" name="confirmpassword" class="form-control" formControlName="confirmPassword" id="login_password">
          <div *ngIf="submitted && signUpForm.controls.confirmPassword?.errors?.['required']">
            <span class="error-msg">Confirm Password is required.</span>
          </div>
          <div *ngIf="submitted && signUpForm.controls.confirmPassword?.errors?.['confirmPasswordValidator']">
            <span class="error-msg">Password should contain upper&lower character, special character, number.</span>
          </div>
        </div>
        <button id="login_submit" class="btn btn-primary" (click)="onSubmit()">Save</button>&nbsp;
        <button id="login_submit" class="btn btn-info" (click)="onReset()">Reset</button>
    </form>
</div>

