$color-text: yellow;
$color-link: #125699;
$color-paragraph: orange;
$color-h1: violet;

$paragraph-fontsize: 16px;


$success-color: green;
$error-color: red;

$font-x8: 8px;
$font-x12: 12px;
$font-x16: 16px;
$font-x18: 18px;
$font-x20: 20px;

