/* You can add global styles to this file, and also import other style files */
@import '_variables';
@import '_mixins';

body{
    margin: 0;
    padding: 0;   
}

.error-msg{
    font-size: $font-x12;
    color: $error-color;
}

// p{
//     @include important-text;
// }

h1 {
    color: $color-h1 !important;
    font-size: $paragraph-fontsize !important;
}

// p{
//     @include heading-block;
//     background-color: $color-link;
// }
